@import 'tailwindcss';

@theme {
  --animate-shimmer: shimmer 1.6s ease-in-out infinite;

  @keyframes shimmer {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(300%);
    }
  }
}
